body {
  background: #f8f8f8 url(../img/pattern.jpg);
  border-top: 5px solid #B8243E;
  border-bottom: 5px solid #B8243E;
  font-family: 'Lato', sans-serif;
  color: #555;
  font-weight: 400;
  text-align: left;
  height: 100vh;
}

// a {
//   color: #B8243E;
//   text-decoration: none;
//   -o-transition: all .3s;
//   -moz-transition: all .3s;
//   -webkit-transition: all .3s;
//   -ms-transition: all .3s;
//   transition: all .3s;
//   &:hover, &:focus {
//     color: #B8243E;
//     text-decoration: none;
//     -o-transition: all .3s;
//     -moz-transition: all .3s;
//     -webkit-transition: all .3s;
//     -ms-transition: all .3s;
//     transition: all .3s;
//   }
// }


.coming-soon {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  height: 100%;

  .container-fluid {
    padding: 0; 
    .row {
      margin: 0;
      .col-sm-12{
        padding: 0;
      }
    }
  }


  .inner-bg {
    padding-top: 10vh; 
    background: url(../img/pattern-3.png);
    background-color: rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3) inset;
    height: 100%;
  }

  h1.title {
    color: #B8243E;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    font-weight: 400;
    text-shadow: 0 1px 7px rgba(255, 255, 255, 0.5);
    margin: 30px 0;
    padding: 0 20px;
  }

  h2.sub-title {
    font-size: 2.4em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  }
  p.detail {
    margin-top: 40px;
    padding: 25px 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.8;
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);

    span{
      display: block;
    }
    i{
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}

.timer {
  margin-top: 20px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  .days-wrapper, .hours-wrapper, .minutes-wrapper, .seconds-wrapper {
    display: inline-block;
    width: 50px;
    margin: 0 10px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.2;
  }
  .days, .hours, .minutes, .seconds {
    font-size: 24px;
  }
}

/***** Media Queries *****/

@media (min-width: 768px) {
.inner-bg {
    padding-top: 18vh !important;
  }
  .coming-soon{

    h1.title {
      font-size: 5em;
      margin: 40px 0;
    }

    h2.sub-title {
      font-size: 3.8em;
    }

    p.detail {
      font-size: 2em;
      i{
        padding-left: 15px;
        padding-right: 10px;
      }
    }

    .timer {
      margin-top: 40px;
      .days-wrapper, .hours-wrapper, .minutes-wrapper, .seconds-wrapper {
        width: 100px;
      }
      .days, .hours, .minutes, .seconds {
        font-size: 36px;
      }
    }
  }
}