/* Color palette */
$ruby-dark: #CC1D23
$ruby-light: #E98371
$elixir-dark: #652F8B
$elixir-light: #AA90C2
$midnight: #3C4A68
$marble: #CFD7DB

body
  font-family: 'Lato', sans-serif

  a:hover, a:visited, a:link, a:active
    text-decoration: none