/**
 * For Staff animate
 */

@-webkit-keyframes shiney {
  0% {
    height: 0px;
    -webkit-animation: translate(0%, 0%)
  }
  100% {
    height: 45px;
    -webkit-animation: translate(0%, 100%)
  }
}

#staff {
  margin-bottom: 200px;
}

#staff .staffs {
  margin-top: 40px;
}

.shine {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: -1;
}

.staff:nth-child(1){
  -webkit-transform: rotate(40deg)
}

.staff:nth-child(2){
  -webkit-transform: rotate(120deg)
}

.staff:nth-child(3){
  -webkit-transform: rotate(-120deg)
}

.staff:nth-child(4){
  -webkit-transform: rotate(-15deg)
}

.staff:nth-child(5){
  -webkit-transform: rotate(65deg)
}

.staff:nth-child(6){
  -webkit-transform: rotate(240deg)
}

.shine span {
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(180deg);
  display: block;
  width: 2px;
  background: #DC3137;
  height: 10px;
  -webkit-animation: shiney 1s linear 0s infinite alternate;
}

.shine .circle {
  margin-bottom: -7px
}

.staff:hover .shine {
  display: block;
}

.circle img{
  width: 16px; !important
  height: 16px; !important
}
