<div class="map">
<iframe width="350" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.tw/maps/ms?msa=0&amp;msid=209769501712926701636.0004a7c70931179554b54&amp;brcurrent=3,0x3442ab495b606237:0x20444928bf584bbf,0,0x3442ac6b61dbbd9d:0xc0c243da98cba64b&amp;ie=UTF8&amp;ll=25.049097,121.612558&amp;spn=0.017496,0.014977&amp;z=15&amp;output=embed"></iframe>
</div>
<div class="info">
  <% @information['sections'].each do |section| %>
  <div id="<%= section['key'] %>" class="group">
    <h2><%= section['title'] %></h2>
    <div class="description">
      <%= section['description'] %>
    </div>
  </div>
  <% end %>
</div>