/* line 1, ../sass/allstyle.scss */
html {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 10, ../sass/allstyle.scss */
.inside {
  top: 230px;
  width: 98%;
  padding: 2% 0 2% 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
}
